* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
  background-color: ghostwhite;
}

/* body {
  background-image: url("../img/new-york-city-subway-station-shutterstock.jpeg");
  background-repeat: no-repeat;
  background-size: 100%; */
/* iframe {
  border-radius: 7px;
} */

.nav {
  text-align: right;
  padding: 1%;
  justify-content: space-between;
}

.main_page {
  display: flex;
  justify-content: space-evenly;
  margin: 2.8% 0.5%;
}
/* .main_page div {
  width: 33%;
} */

footer {
  text-align: right;
  padding: 0% 1%;
}

footer a {
  color: black;
}

.left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
}
.left div {
  width: 100%;
  height: auto;
  margin: 5% 0%;
}
.imageDiv {
  display: flex;
  justify-content: center;
  width: 50%;
}

.imageDiv img {
  height: 75vh;
  width: auto;
}

.audioDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}
.audioDiv div {
  text-align: center;
  width: 80%;
}
.audioDiv div form input {
  width: 75%;
  padding: 2% 0%;
}
.audioDiv button {
  border: none;
}

button img {
  width: 18%;
}
button .off {
  display: none;
}

/* pop up */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: ghostwhite;
  width: 500px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: ghostwhite;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.nav button {
  padding: 15px;
  font-size: 18px;
  border: none;
  color: #222;
  font-weight: 600;
}

.content h1 {
  padding-bottom: 3%;
}

/* Input slider styling */
input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  /* deals with the line */
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #66696c;
  border-radius: 1.3px;
  border: 1.4px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  /* actual ball thing for the scroll */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.5px solid #000000;
  height: 20px;
  width: 8px;
  /* border-radius: 50px; */
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6c0c9;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
