@media only screen and (max-width: 1200px) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  @font-face {
    font-family: Bodoni;
    src: url(/fonts/BodoniStd/BodoniStd.otf);
  }
  @font-face {
    font-family: Birch;
    src: url(/fonts/BirchStd.otf);
  }

  * {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  body {
    background-color: ghostwhite;
    font-family: Bodoni;
  }
  h1,
  h2,
  h3,
  h5,
  h6 {
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
  }
  iframe {
    width: 60vw;
    height: 50vh;
    margin-top: 8%;
  }
  button {
    background-color: ghostwhite;
  }
  .left p {
    font-size: 2.8rem;
  }
  .empty {
    width: 100%;
    text-align: center;
    margin-top: 4%;
  }
  .empty button {
    font-size: 1.1rem;
    border: none;
    font-family: Bodoni;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .empty button:hover {
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
  .nav img {
    width: 65%;
    padding-top: 8%;
    margin: auto;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25vh;
    margin: 20% 0%;
    margin-top: 12%;
    padding: 5% 0%;
  }
  .links p {
    width: 80%;
    text-align: center;
    transition: all 300ms ease-in-out;
  }
  .links a {
    text-decoration: none;
    color: #222;
    transition: all 300ms ease-in-out;
  }

  .links p:hover {
    opacity: 0.8;
    transform: scale(1.05);
    cursor: pointer;
  }
  .links a:hover {
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
  }
  .socials {
    margin: 5% 0%;
    display: flex;
    justify-content: center;
  }
  .socialicons {
    width: 10%;
    height: auto;
    margin: 0% 2%;
  }
  .main_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .left {
    text-align: center;
  }
  .main_page div {
    width: 95%;
  }
  .sounds {
    margin: 40% 0%;
  }
  .audioDiv button {
    border: none;
  }
  .audioDiv div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .audioDiv p {
    height: 2%;
    font-size: 2rem;
    margin-bottom: 15%;
    font-size: 2.3rem;
  }
  .form {
    margin-top: 10%;
  }
  button img {
    width: 32%;
    height: auto;
    cursor: pointer;
    margin: 0% 0%;
  }
  button .off {
    display: none;
    cursor: pointer;
  }
  .track form {
    width: 75%;
    margin: 5% 0%;
  }
  footer {
    margin: 5% 0%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer a {
    color: black;
    text-decoration: underline;
  }
  footer div {
    width: 90%;
    height: auto;
    text-align: center;
  }
  footer h4 {
    width: 80%;
    margin: 3% 0%;
  }

  /* pop up */
  .content p {
    width: 92%;
  }
  .popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }

  .popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: ghostwhite;
    width: 80vw;
    height: 80vh;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: ghostwhite;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }

  .popup.active .overlay {
    display: block;
  }

  .popup.active .content {
    transition: all 370ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
  }

  /* pop up 2  */
  .popup2 .overlay2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }

  .popup2 .content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: ghostwhite;
    width: 95vw;
    height: 35vh;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .popup2 .close-btn2 {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: ghostwhite;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }

  .popup2.active .overlay2 {
    display: block;
  }

  .popup2.active .content2 {
    transition: all 370ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
  }

  .nav button2 {
    padding: 15px;
    font-size: 18px;
    border: none;
    color: #222;
    font-weight: 600;
  }

  /* Input slider styling */
  input[type="range"] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    background: ghostwhite;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    /* deals with the line */
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #66696c;
    border-radius: 1.3px;
    border: 1.4px solid #010101;
  }
  input[type="range"]::-webkit-slider-thumb {
    /* actual ball thing for the scroll */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0.5px solid #000000;
    height: 40px;
    width: 12px;
    border-radius: 100px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #b6c0c9;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #367ebd;
  }
}
.darkmode {
  background-color: #383a3c;
  color: ghostwhite;
}
.darkmode button {
  color: ghostwhite;
  background-color: #383a3c;
}
.darkmode a {
  color: ghostwhite;
}
.darkmode input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background: #383a3c;
}
.darkmode input[type="range"]::-webkit-slider-thumb {
  /* actual ball thing for the scroll */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.5px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 100px;
  background: #505050;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
